%div(class="top")
  %h3 Resend confirmation instructions

%div(class="wrap")
  = form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
    = devise_error_messages!
    %p
      = f.label :email
      %br/
      = f.text_field :email
    %p= f.submit "Resend", :class => "button def"
  = render :partial => "devise/shared/links"
