%div(class="top")
  %h3
    Pivotal Tracker Integration Settings

%div(class="wrap")
  %h2
  = form_for(@user, :url => setting_path(@user), :html => { :method => :put }) do |f|
    = f.error_messages
    %p
      = f.label :first_name
      %br/
      = f.text_field :first_name, :class => "text medium"
    %p
      = f.label :last_name
      %br/
      = f.text_field :last_name, :class => "text medium"
    %p
      = f.label :email
      %br/
      = f.text_field :email, :class => "text medium"
    %p
      = f.label :pivotal_token
      %br/
      = f.text_field :pivotal_token, :class => "text medium"
    %p
      = f.label :pivotal_initials
      %br/
      = f.text_field :pivotal_initials, :class => "text medium"
    %p= f.submit "Update", :class => "button def"
