- @stories.group_by(&:project).each do |project, stories|
  %div(class="top")
    %h3= project

  %div(class="wrap")
    %div(id="tables")

      %table(width="100%" border="0" cellspacing="0" cellpadding="0")
        %tbody
          %tr(class="table-header")
            %th(width="20%")
              %h5 Name
            %th(width="10%")
              %h5 Client
            %th(width="20%")
              %h5 Job
            %th(width="10%")
              %h5 Type
            %th(width="10%")
              %h5 Estimate
            %th(width="10%")
              %h5 State
            %th(width="20%")
              %h5 Owned by
            %th(width="10%")
              %h5 Actions

          - stories.each do |story|
            %tr
              %td= story.name
              %td= story.client_no
              %td= story.job_no
              %td= story.story_type.capitalize
              %td= story.estimate
              %td= story.current_state.capitalize
              %td= story.user.blank? ? "" : story.user
              %td= link_to(image_tag("start.png"), log_project_story_path(:project_id => story.project_id, :id => story.id))
            - story.time_logs.each do |log|
              %tr
                %td(width="25%"){:class => (log.end_time.blank? ? "negative" : "positive")}= log.start_time.to_s(:pretty)
                %td(width="25%")= log.end_time.blank? ? "" : log.end_time.to_s(:pretty)
                %td(width="40%" colspan="5")= log.notes
                %td(width="10%" class="controls")= log.end_time.blank? ? link_to(image_tag("stop.png"), stop_project_story_path(:project_id => story.project_id, :id => story.id)) : ""

%br
